html{
    background-color: #fafbfd;
    
}
body{
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#464242; 
}
/*   --------------------   */

h1{
    text-align: center;
    font-size: 2rem;
    
}
h2{
    text-align: center;
    font-size: 1.8rem;
}
h3{
    font-size: 1.4rem;
}

/*   --------------------   */

.saltar-aqui a{
    position: absolute;
    color: #0248B1;
    font-size: 0.4rem !important;
}

/*

    HEADER

*/

header{
    max-width: 800px;
    width: 100%;
    margin: 0% auto;
    padding: 10px;

    border-bottom: 2px solid #4A7C0E;
}

.header-nav{
    width: 100%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img-logo{
    width: 150px;

}

header a {
    color: #0248B1;
    text-decoration: none;
    padding-left: 20px;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-right: 20px;
    padding:5px;
    font-weight: 700;
}

header a:hover{
    color:#A30021;
}

/*

    FOOTER

*/

footer{
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    /*border-top: 2px solid #4A7C0E;*/
    /*background-color: #4A7C0E;*/
    background-color: #464242;

}
footer p{
    
    margin: 0;
    text-align: center;
    color: white;
    font-size: 12px;

}
footer a{
    color: white;
}
.ref-icon{
    margin-top: 10px;
    
}

.icono-pers-senderismo{
    width: 50px;
    height: 50px;
}

/* -------------------- Portada   -------------------*/

main{
    width: 100%;
    max-width: 800px;
    margin: 0% auto;
    padding: 10px;
}

p{
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 2em;
    word-spacing: 0.16em;
   ;
}

.img-portada{

    width: 100%;
    height: 400px;
    max-width: 800px;
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.exclamar{
    text-align: center;
    font-weight: 700;
}

.caja-direccion{
    display: flex;
    align-items: center;
    justify-content: center;
}
.enlace-categoria{
    color: #009dff;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px dashed;
}

.caja-direccion a:hover{
    color: #ff0033;
}

.caja-eco-iconos{
    text-align: center;
}
.caja-eco-iconos img{
    margin-left: 40px;
}

blockquote{
    display: flex;
    background-color: #f3f3f3;
    border: 2px solid #464242;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
}

.img-recorte{
    width: 120px;
    height: auto;
    clip-path: polygon(0 50%, 10% 60%, 0 70%, 30% 100%, 70% 100%, 100% 70%, 90% 60%, 100% 50%, 90% 40%, 100% 20%, 70% 0, 30% 0, 0 20%, 10% 40%); 
}

.info-frase{
    padding: 20px;
}

.footer-img{
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    color: #464242;
    font-size: 0.7rem;
}

.footer-img a{
    color:#009dff;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px dashed;
}
.footer-img a:hover{
    color: #ff0000;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px dashed;
}

.footer-cite{
    background-color: #f3f3f3;
    display:flex;

    align-content: center;
    justify-content: flex-end;
    

    margin:0 ;
    padding-top: 0;
    padding-bottom: 0;

    padding-right: 40px;
    border-radius: 10px;

    
}
.footer-cite p{
    font-size: 1rem;
    color: #464242;
    
}

.corazon-animado{
    width: 30px;
    height: 30px;
}

.corazon-animado path{
    fill: #464242;
}

.corazon-palpitacion{
  transform-box: fill-box;
  transform-origin: center;
  animation: palpitacion 2s ease-in-out infinite;
}

@keyframes palpitacion{
    0%, 100% { transform: scale(1.5); }
    50%{ transform: scale(1); }
}

.efecto-portada-svg{
  width: 100%;  
  height: auto;
  font-size: 3rem;
  font-weight: 900;

}
.grupo-caracter{

    transform: translateX(20%);
    
   
}

.caracter{
    animation: salto2 1.5s ease-in-out infinite;
    fill: #464242;
}

.caracter:nth-child(1){ animation-delay: 0.00s; }
.caracter:nth-child(2){ animation-delay: 0.12s; }
.caracter:nth-child(3){ animation-delay: 0.24s; }
.caracter:nth-child(4){ animation-delay: 0.48s; }
.caracter:nth-child(5){ animation-delay: 0.24s; }
.caracter:nth-child(6){ animation-delay: 0.12s; }
.caracter:nth-child(7){ animation-delay: 0.00s; }

@keyframes salto2{
  0%,100%{ transform: translateY(10px); }
  30%    { transform: translateY(-5px); }
  50%    { transform: translateY(10px); }
}


/* -------------------- Categoria   -------------------*/
.lista{
    text-align: center;
}

.direccion-del-arte img{
    width: 100%;
    max-width:800px ;
    transition: transform 0.6s ease;
    transform-origin: center center;
    border-radius: 10px;
}

.lista img:hover{
    transform: scale(2);
}
.info-distancia{
    margin: 0 !important;
    text-align: center;
    
}

.caja-ver-mas{
    text-align: right;
    margin-top: 0;
}

.enlace-ver-mas{

    color: #0248B1;
    padding-right: 50px;
}
.enlace-ver-mas:hover{
    color: #A30021;
}

hr{
    border: none;
    border-top: 1px solid #ebebeb;
    
}

/* -------------------- Detalle   -------------------*/

.img-representativa{
    width: 100%;
    height: 250px;
    max-width: 800px;
    border-radius: 10px;

}

.fotos-galeria{

    max-width: 800px;
    display: flex;
    justify-content: center;

}

.fotos-galeria img{
    width: 225px;
    margin: 25px;
    height: 225px;
    border-radius: 10px;

}

.fotos-galeria img:hover{
    transform: scale(2);
}

iframe{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    border: none;

}


#map {
  
  width: 100%;
  height: 400px;
  max-width: 800px;
  border-radius: 10px;
}



/*
    
    ------  CONTACTOS -----

*/

.pag-contactos{

    height: 100vh;
    place-items: center;
}

.contactos{
   text-align: center;
   border: 1px solid #464242;
   border-radius: 10px;
   background-color: #f3f3f3;
   padding: 20px;

}
.contactos p{
    text-align: center;
    margin: 0;
}


/*

-------- RESPONSIVO --------

*/

@media (max-width: 900px) {


    blockquote{
        text-align: center;
        display: grid;
        
    }

    main{
        max-width: 900px;
    }

    header{
        width: 100%;
        max-width: 800px;
        border-bottom: 2px solid #4A7C0E;
    }

    .header-nav{
        flex-direction: column;

    }

    .header-nav nav{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        text-align: center;
    }

    .header-nav nav a{
        font-size: 1.5rem;
        color: #0248B1;
        text-decoration: underline;
    }


    /*
        ------ categoría ------
    */

    .lista img:hover{
        transform:none;
    }

}


@media (max-width: 600px) {


    .caracter{
        animation: none;
    }

    main{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    header{
        width: 100%;
    }

    h1{
        font-size: 1.8rem;

    }

    h2{
        font-size: 1.4rem;

    }

    h3{
        font-size: 1rem;

    }

    main{
        max-width: 400px;
    }

    /*
        -------  header --------
    */

    header{
        width: 100%;
        max-width: 400px;
        border-bottom: 2px solid #4A7C0E;
    }

    .header-nav{
        flex-direction: column;

    }

    .header-nav nav{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        text-align: center;
    }

    .header-nav nav a{
        font-size: 1.5rem;
        color: #0248B1;
        text-decoration: underline;
    }

    .img-logo{
        max-width:400px;
    }

    /*
        ------ categoría ------
    */

    .lista img:hover{
        transform:none;
    }

    

    /*
        ------ detalles ------
    */

    .fotos-galeria{
        max-width: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .fotos-galeria img:hover{
        max-width: 300px;
        transform: scale(1.8);
    }
   

}
